html {
    font-family: "Raleway";
    color: dimgray;
    height: 100%;
}

body {
    margin: 30px;
}
h1 {
    display: inline-block;
    font-size: 60px;
    font-weight: 900;
}

h4 {
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    width: 100px;
    margin-left: 10px;
}

input {
    -webkit-appearance: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 75%;
    margin-top: 50px;
}

.fa-times-circle {
    color: darkturquoise;
}



